<form novalidate #checkout="ngForm" (ngSubmit)="open(checkout)" class="checkout">
  <div class="modal-header">
    <h4 class="modal-title">Donate to {{ charity.fields.charityName }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <input type="text" id="name" name="name" placeholder="Jane Doe" [(ngModel)]="name">
    <input type="email" id="email" name="email" placeholder="your@email.com" [(ngModel)]="email"> -->
    <div *ngFor="let card of cards" class="form-check">
      <input class="form-check-input" type="radio" name="selectedCard" id="{{ card.id }}" value="{{ card.id }}" (click)="onChangeCard(card)">
      <label class="form-check-label" for="{{ card.id }}">
        <img src="../../../assets/images/{{ card.brand.toLowerCase() }}.png" class="pr-3">
        ****{{ card.last4 }}
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="selectedCard" id="newCard" value="newCard" checked (click)="onChangeCard(null)">
      <label class="form-check-label" for="newCard">
        New Card
      </label>
    </div>
    <div id="card-element" class="field"></div>

    <div *ngIf="invalidCard" class="alert alert-danger" role="alert">
      <strong>{{ errorMessage }}</strong>
    </div>

    <div id="donation-details-amount">Charge amount: {{ donation.donationAmount | currency }}</div>
    <div id="donation-details-frequency">Charge frequency: {{ donation.donationFrequency }}</div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-light">Donate</button>
  </div>
</form>