<div class="modal-header">
  <h4 class="modal-title">Confirm Payment</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Donating to: {{ charity.fields.charityName }}</p>
  <p>Donation Amount: {{ donation.donationAmount | currency }}</p>
  <p>Donation Frequency: {{ donation.donationFrequency }}</p>
</div>
<div class="modal-footer">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="Cancel Button">
        <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancel</button>
      </div>
      <div class="btn-group" role="group" aria-label="Submit Button">
          <button type="button" class="btn btn-light" (click)="onSubmit()">Submit</button>
      </div>
    </div>
</div>