@media (max-width: 1200px) {
    .hero-works {
        background-position: 100px 30px;
        background-size: 40% auto;
    }
}
@media (max-width: 992px) {
    .hero-works {
        background-position: 45px 50px;
        background-size: 40% auto;
    }
    .hero-sacrifice .container {
        max-width: 100%;
    }
   .hero-sacrifice .container h1{
        max-width: 100%;
    }
}
@media (max-width: 768px) {
    .hero-works {
        background-position: 45px 85px;
    }
    .hero-works .container {
        max-width: 100%;
    }
    .hero-sacrifice .container h1{
        font-size: 25px;
    }
    .hero-sacrifice .container p{
        font-size: 18px;
    }
    .hero-testimonials .card .card-body {
        font-size: 25px;
    }
}
/* Styles for mobile devices */
@media (max-width: 576px) {
    .hero-sacrifice {
        text-align: center;
    }
    .hero-works h1, .hero-charities h1 {
        font-size: 28px;
        text-align: center;
    }
    .hero-works p, .hero-testimonials p, .hero-adds p {
        font-size: 22px;
        text-align: center;
    }
    .hero-works {
        height: 500px;
        background-position: 60px 27px;
        background-size: 68% auto;
    }
    .hero-works .row {
        height: 100%;
        padding-top: 220px;
    }
    .hero-works .button {
        margin: 10px auto;
    }
    .hero-testimonials, .row.testimonial-card, .hero-adds, .hero-adds .row {
        height: 100%;
    }
    .hero-adds h4 {
        margin: 5px auto 15px;
    }
}
