<main class="user-dashboard" role="main">

  <section class="section donation-statistics">
    <div class="row">
      <div class="col-9">
        <h1 class="section-title">High-Five, Kevin!</h1>
        <p class="donor-affirmation">You’ve really worked hard to make a difference and it’s showing!</p>
      </div>
      <div class="col-3">
        <button class="btn btn-export">EXPORT DATA</button>
      </div>
    </div>
    <div class="row text-center mt-2 align-items-center">
      <div class="col-12 col-md-4">
        <div class="card pt-3 pb-3">
          <div class="card-body">
            <h1>$2981</h1>
            <p>DONATED THIS YEAR</p>
          </div>
        </div>
        <div class="card pt-3 pb-3">
          <div ngbDropdown>
            <button class="btn btn-outline-primary" id="donationPeriods" ngbDropdownToggle>2018 Year-End-Projection</button>
            <div ngbDropdownMenu aria-labelledby="donationPeriods">
              <button class="dropdown-item dropdown-color-1">Daily Giving Total</button>
              <button class="dropdown-item dropdown-color-2">Weekly Giving Total</button>
              <button class="dropdown-item dropdown-color-3">Monthly Giving Total</button>
              <button class="dropdown-item dropdown-color-4">Quaterly Giving Total</button>
            </div>
          </div>
          <h2>$5628</h2>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <highcharts-chart 
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>
      </div>
      <div class="col-6 col-md-4">
        <div class="donation-item">
          <h3>$1281</h3>
          <p>ASPCA</p>
        </div>
        <div class="donation-item">
          <h3>$414</h3>
          <p>NATIONAL COALITION AGAINST DOME</p>
        </div>
        <div class="donation-item">
          <h3>$625</h3>
          <p>MOMA</p>
        </div>
        <div class="donation-item">
          <h3>$1070</h3>
          <p>ALZEIMERS ASSOCIATION</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section hero-charities">
    <div class="row">
      <div class="col-9">
        <h3 class="section-title">Manage Your Contributions</h3>
      </div>
      <div class="col-3">
        <button class="btn btn-add-charity">ADD A CHARITY</button>
      </div>
    </div>
    <div class="row active-charities pt-3">
      <div class="col-6 col-lg-3">
        <div class="card">
          <img src="../../../assets/images/ASPCA.png" class="img-fluid">
          <div class="row charity-details text-center align-items-center">
            <div class="col">
              <p>YOU GIVE THE</p>
              <p>ASPCA</p>
              <h3 class="pt-2"><small>$</small>40</h3>
              <p>every day</p>
              <button class="btn btn-manage-charity">MANAGE</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="card">
          <img src="../../../assets/images/NCADV.png" class="img-fluid">
          <div class="row charity-details text-center align-items-center">
            <div class="col">
              <p>YOU GIVE THE</p>
              <p>NCADV</p>
              <h3 class="pt-2"><small>$</small>40</h3>
              <p>every day</p>
              <button class="btn btn-manage-charity">MANAGE</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="card">
          <img src="../../../assets/images/MOMA.png" class="img-fluid">
          <div class="row charity-details text-center align-items-center">
            <div class="col">
              <p>YOU GIVE THE</p>
              <p>MOMA</p>
              <h3 class="pt-2"><small>$</small>40</h3>
              <p>every day</p>
              <button class="btn btn-manage-charity">MANAGE</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="card">
          <img src="../../../assets/images/Alzheimer.png" class="img-fluid">
          <div class="row charity-details text-center align-items-center">
            <div class="col">
              <p>YOU GIVE THE</p>
              <p>Alzheimer</p>
              <h3 class="pt-2"><small>$</small>40</h3>
              <p>every day</p>
              <button class="btn btn-manage-charity">MANAGE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- SINCE THIS PANEL CAN ONLY SHOW ONE AT A TIME,
           WE SHOULD JUST POPULATE THIS WITH THE CHARITY INFO
           THAT WAY IT'S EASIER TO MANAGE
      -->
<!--       <div class="row donor-charity--manage">
        <div class="col-8">
          <div class="row">
            <div class="col-8">You’ve raised a total of $3,105 since December 2017 for the:</div>
          </div>
          <div class="row">
            <div class="col-8">ASPCA</div>
          </div>
          <div class="row">
            <div class="col-8">Dropdown area</div>
          </div>
          <div class="row">
            <div class="col-8">Stats (what's available?)</div>
          </div>
          <div class="row">
            <div class="col-4">
              <a class="option--cancel">Cancel</a>
            </div>
            <div class="col-6">
              <a class="btn btn-primary" data-toggle="collapse" href="#payment-details-one" role="button">Save Changes</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col">
              some sort of image
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4>Latest News</h4>
              <p>ASPCA uses National Pit Bull Awareness Day to educate those who fear the breed</p>
              <a href="#">Read More</a>
              <a class="btn btn-primary" data-toggle="collapse" href="#payment-details-one" role="button">More About This Charity</a>
            </div>
          </div>
        </div>
      </div> -->
  </section>

  <section class="section hero-payments">
    <div class="row">
      <div class="col-9">
        <h3 class="section-title">Payment Settings</h3>
      </div>
      <div class="col-3">
        <button class="btn btn-add-charity">ADD PAYMENT METHOD</button>
      </div>
    </div>
    <div class="row card-info">
      <div class="col-3">Visa ending in 3456</div>
      <div class="col-3">Expires 04/2021</div>
      <div class="col-3">Used for 03 charities</div>
      <div class="col-3"><button class="btn btn-manage-charity">MORE DETAILS</button></div>
    </div>
    <div class="row collapse expand-payment-details" id="payment-details-one">
      <div class="col-4">
        <div class="row card-name">
          <div class="col">
            <div class="name-title">Name on Card</div>
            <div class="name-info">John Smith</div>
          </div>
        </div>
        <div class="row card-address">
          <div class="col">
            <div class="address-title">Billing Address</div>
            <div class="address-info">
              <span class="street">1234 Main St</span>
              <span class="city-state-zip">Atlanta, GA 30318</span>
            </div>
          </div>
        </div>
        <div class="row card-options">
          <div class="col">
            <div class="edit">Edit Information</div>
            <div class="lost-or-stolen">Lost or Stolen?</div>
            <div class="delete-card">Delete</div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <h5>Supporting Charities</h5>
        <ul class="payment-charities">
          <li>MOMA</li>
          <li>ASPCA</li>
          <li>Atlanta Humane Society</li>
          <li>National Coalition Against Domestic Violence</li>
        </ul>
      </div>
    </div>
  </section>
</main>
