<main role="main">
    <!-- ##################################################
            Hero: Featured Charities
           ################################################## -->
    <div class="hero-user jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-8 donor-salutations">
            <h1>High-Five, Kevin!</h1>
          </div>
          <div class="col-10 donor-affirmation">You’ve really worked hard to make a difference and it’s showing!</div>
        </div>
      </div>
    </div>
    <!-- ##################################################
        Section: Charities
        ################################################## -->
    <div class="hero-charities jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row justify-content-between section--title">
          <div class="col-6">
            <h3>Manage Your Contributions</h3>
          </div>
        </div>
        <div class="donor-charity--container">
          <div class="row">
            <div class="card-deck col active-charities">
              <div class="card">
                <div class="card-body">
                  <span class="charity-name">Charity One</span>
                  <div class="charity-details">
                    <div class="charity-details--name">You give the <span>ASPCA</span></div>
                    <div class="charity-details--amount">
                      <span class="amount-per">$5</span>
                      <span class="amount-freq">every day</span>
                    </div>
                    <div class="btn btn-primary manage-charity">Manage</div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="charity-name">Charity Two</span>
                  <div class="charity-details">
                    <div class="charity-details--name">You give the <span>ASPCA</span></div>
                    <div class="charity-details--amount">
                      <span class="amount-per">$5</span>
                      <span class="amount-freq">every day</span>
                    </div>
                    <div class="btn btn-primary manage-charity">Manage</div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="charity-name">Charity Three</span>
                  <div class="charity-details">
                    <div class="charity-details--name">You give the <span>ASPCA</span></div>
                    <div class="charity-details--amount">
                      <span class="amount-per">$5</span>
                      <span class="amount-freq">every day</span>
                    </div>
                    <div class="btn btn-primary manage-charity">Manage</div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="charity-name">Charity Four</span>
                  <div class="charity-details">
                    <div class="charity-details--name">You give the <span>ASPCA</span></div>
                    <div class="charity-details--amount">
                      <span class="amount-per">$5</span>
                      <span class="amount-freq">every day</span>
                    </div>
                    <div class="btn btn-primary manage-charity">Manage</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- SINCE THIS PANEL CAN ONLY SHOW ONE AT A TIME,
               WE SHOULD JUST POPULATE THIS WITH THE CHARITY INFO
               THAT WAY IT'S EASIER TO MANAGE
          -->
          <div class="row donor-charity--manage">
            <div class="col-8">
              <div class="row">
                <div class="col-8">You’ve raised a total of $3,105 since December 2017 for the:</div>
              </div>
              <div class="row">
                <div class="col-8">ASPCA</div>
              </div>
              <div class="row">
                <div class="col-8">Dropdown area</div>
              </div>
              <div class="row">
                <div class="col-8">Stats (what's available?)</div>
              </div>
              <div class="row">
                <div class="col-4">
                  <a class="option--cancel">Cancel</a>
                </div>
                <div class="col-6">
                  <a class="btn btn-primary" data-toggle="collapse" href="#payment-details-one" role="button">Save Changes</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col">
                  some sort of image
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h4>Latest News</h4>
                  <p>ASPCA uses National Pit Bull Awareness Day to educate those who fear the breed</p>
                  <a href="#">Read More</a>
                  <a class="btn btn-primary" data-toggle="collapse" href="#payment-details-one" role="button">More About This Charity</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ##################################################
        Section: Payment Settings
        ################################################## -->
    <div class="hero-payments">
      <div class="container">
        <div class="row justify-content-between section--title">
          <div class="col-4">
            <h3>Payment Settings</h3>
          </div>
          <div class="col-2">
            <a href="#" class="button white">Add Payment Method</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row default card-info">
              <div class="col-3">Visa ending in 3456</div>
              <div class="col-3">Expires 04/2021</div>
              <div class="col-3">Used for 03 charities</div>
              <div class="col-3"><a class="btn btn-primary" data-toggle="collapse" href="#payment-details-one" role="button">More Details</a></div>
            </div>
            <div class="row collapse expand-payment-details" id="payment-details-one">
              <div class="col-4">
                <div class="row card-name">
                  <div class="col">
                    <div class="name-title">Name on Card</div>
                    <div class="name-info">John Smith</div>
                  </div>
                </div>
                <div class="row card-address">
                  <div class="col">
                    <div class="address-title">Billing Address</div>
                    <div class="address-info">
                      <span class="street">1234 Main St</span>
                      <span class="city-state-zip">Atlanta, GA 30318</span>
                    </div>
                  </div>
                </div>
                <div class="row card-options">
                  <div class="col">
                    <div class="edit">Edit Information</div>
                    <div class="lost-or-stolen">Lost or Stolen?</div>
                    <div class="delete-card">Delete</div>
                  </div>
                </div>
              </div>
              <div class="col-8">
                <h5>Supporting Charities</h5>
                <ul class="payment-charities">
                  <li>MOMA</li>
                  <li>ASPCA</li>
                  <li>Atlanta Humane Society</li>
                  <li>National Coalition Against Domestic Violence</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>