<main>

  <ngx-loading [show]="loading"></ngx-loading>

  <div class="row justify-content-center login-form">
    <div class="col-sm-12 col-md-4">
      <h1>Email Link Login</h1>
      <p>Please enter your email and get the link from email</p>
  
      <form [formGroup]="loginForm"
            id="loginForm"
            (ngSubmit)="sendEmailLink()">

        <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" formControlName="email" required>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Get Login Link</button>

        <div *ngIf="emailSent" class="alert alert-success" role="alert">
          <strong>We sent the login link to your email!</strong>
        </div>

      </form>
    </div>
  </div>
</main>
