<section class="hero-testimonials">
  <ngb-carousel id="testimonials" #testimonialCarousel="ngbCarousel"
                class="carousel">
    <ng-template ngbSlide
                 *ngFor="let testimonial of testimonials ; let i = index"
                 class="carousel-fade carousel-item">
      <div class="container">
        <div class="row testimonial-card align-items-center justify-content-start p-3">
          <div class="card col-sm-12 col-md-8 col-lg-6">
            <div class="card-body">
              <p class="card-text">{{ testimonial.content }}</p>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-3 arrow-left" (click)="testimonialCarousel.prev()">
                  <img src="../../assets/images/testimonial-arrow-white.png">
                </div>
                <div class="col-6">
                  <span class="testimonial-name">{{ testimonial.name }}</span>
                  <span class="testimonial-city">{{ testimonial.address }}</span>
                </div>
                <div class="col-3 arrow-right" (click)="testimonialCarousel.next()">
                  <img src="../../assets/images/testimonial-arrow-white.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</section>