#featured-charities.carousel .carousel-img .row {
    padding: 200px 0;
}
@media (max-width: 992px) {
    #featured-charities.carousel .carousel-img .row {
        padding: 120px 0;
    }
    #carousel-text {
        text-align: center;
    }
    #carousel-text .button{
        margin: 0 auto;
    }
}
@media (max-width: 576px) {
    #featured-charities.carousel .carousel-img .row {
        padding: 80px 0;
    }
    #carousel-text h1 {
        font-size: 28px;
        text-align: center;
    }
    #carousel-text p {
        font-size: 22px;
    }
}
